<div class="drop-down-serv">
    <section class="left-serv">
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Online Banking</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Mobile Banking</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">eStatements</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Bill Payment Services</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Transfers and Payments</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Alerts and Notifications</a></div>
    </section>
    <section class="right-serv">
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Account Management</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Loan Management</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Investment Services</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Customer Support and Chat</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">Security Features</a></div>
        <div class="options-serv"><a href="/eservices/" class="big-drop-serv">More...</a></div>
    </section>
</div>