<div class="drop-ac">
    <section class="left-ac">
        <div class="options-ac"><a href="/saving/" class="big-drop-ac">Saving Account</a></div>
        <div class="options-ac"><a href="/current/" class="big-drop-ac">Current Account</a></div>
        <div class="options-ac"><a href="/saving/" class="big-drop-ac">Fees & Charges</a></div>
        <div class="options-ac"><a href="/saving/" class="big-drop-ac">Eligibility</a></div>
        <div class="options-ac"><a href="/saving/" class="big-drop-ac">Rewards</a></div>
        <div class="small-opt-ac">
            <span><a href="" class="application">Application Form</a></span><span class="break"></span>
            <span><a href="" class="contact">Contact Us</a></span><span class="break"></span>
            <span class="read"><a href="">Read More...</a></span>
        </div>
    </section>
    <section class="right-ac">
        <a href="/createAc/"><img src="/static/img/open_account.jpg" alt="" height="250vh" class="open-img"></a>
        <button type="button"><a href="/createAc/" class="open-ac">Open Account<i class="bi bi-arrow-right"
                    style="margin-left: 10px;"></i></a></i></button>
    </section>
</div>