<nav id="social-media">
    <div class="face cont"><a href="https://www.facebook.com/" target="_blank" class="links"><span
                class="sc-name">Facebook</span><i class="bi bi-facebook social-ico"></i></a></div>
    <div class="twit cont"><a href="https://twitter.com/?lang=en" target="_blank" class="links"><span
                class="sc-name">Twitter</span><i class="bi bi-twitter-x social-ico"></i></a></div>
    <div class="what cont"><a href="https://www.whatsapp.com/" target="_blank" class="links"><span
                class="sc-name">Whatsapp</span><i class="bi bi-whatsapp social-ico"></i></a></div>
    <div class="link cont"><a href="https://www.linkedin.com/in/gaurav-kumar-a09324251/" target="_blank"
            class="links"><span class="sc-name">LinkedIn</span><i class="bi bi-linkedin social-ico"></i></a></div>
    <div class="yout cont"><a href="https://www.youtube.com/" target="_blank" class="links"><span
                class="sc-name">Youtube</span><i class="bi bi-youtube social-ico"></i></a></div>
    <div class="appl cont"><a href="https://www.apple.com/in/app-store/" target="_blank" class="links"><span
                class="sc-name">Apple Store</span><i class="bi bi-apple social-ico"></i></a></div>
    <div class="play cont"><a href="https://play.google.com/store/games?hl=en_IN&gl=US&pli=1" target="_blank"
            class="links"><span class="sc-name">Play Store</span><i class="bi bi-google-play social-ico"></i></a></div>
</nav>
<nav id="customer">
    <img src="/static/img/customer_care-gif.gif" alt="Customer Support" height="100vh" class="support">
</nav>