{% extends 'base.html' %}
{% block content %}
<div class="container current-ac-page">
    <div class="row current-ac-banner">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Current Account</li>
            </ol>
        </nav>
        <div class="col-md-12 account-head">
            <img src="/static/img/current-ac-banner.jpg" alt="" class="account-img1">
            <h2 class="head-img">Current Account</h2>
            <p class="banner-content">Empower your business. <br> Banking solutions, customised to your needs.</p>
            <button type="button" class="open">Apply Now</button>
        </div>
    </div>
    <div class="row about-current-ac mt-5">
        <div class="col-md-12 ">
            <h3 class="current-lg-head">Current Account</h3>
            <div class="paras">
                <p><img src="/static/img/current-ac-image.jpg" class="business-coin" alt="">A Current Account is a type
                    of deposit account offering a significantly higher number of transactions and services. It is
                    suitable for businessman, professionals, or enterpreneurs who can use it to manage their daily and
                    monthly cash flow seamlessly, without worryinng about the limit on the number of transactions.</p>
                <p>With digital services such as online NEFT/RTGS transactions 24x7, prompt SMS alerts and customized
                    offerings on allied products such as CMS, Trade & Forex Services across user friendly Internet &
                    Mobile Banking platforms, you can be assured that your banking transactions will be hassle-free and
                    seamless.</p>
                <p>We offer a host of Current Account variants customised to the needs of different sectors and
                    organisations, with features including: complete execution of Current Account opening online for
                    specific variants, a range of options on cash deposit limits, unlimited withdrawals, etc.</p>
                <p>So, browse through the different types of Current Accounts and select the one that best suits your
                    business needs. You can also apply for a Current Account online.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 current-ac-features-benefits">
            <h4 class="current-sm-head text-center" style="margin-bottom: 2vh;">Features & Benefits of Current Account
            </h4>
        </div>
    </div>
    <div class="current-ac-card-containing text-center">
        <div class="card">
            <i class="bi bi-currency-rupee loan"></i>
            <h6>Loans</h6>
            <p>Business financing solutions for you</p>
        </div>
        <div class="card">
            <i class="bi bi-calculator upi"></i>
            <h6>POS/QR/UPI</h6>
            <p>Make your collections easy with POS/QR/UPI</p>
        </div>
        <div class="card">
            <i class="bi bi-opencollective collection"></i>
            <h6>Payment and collection Solutions</h6>
            <p>Add convenience to your payments with simple and secure Payment & Collection Solutions</p>
        </div>
        <div class="card">
            <i class="bi bi-currency-exchange trade"></i>
            <h6>Trade Forex Solutions</h6>
            <p>Expand your business globally with our Trade & Forex Solutions</p>
        </div>
    </div>
    <div class="row rewards-current-ac">
        <div class="col-md-12">
            <h4 class="current-sm-head">Rewards along with Current Account</h4>
            <dl>
                <dt>Choose a lifestyle benefit each year</dt>
                <dd>- Choose from either 12 months of Disney+, 6 cinema tickets, an annual digital Coffee Club and
                    Gourmet Society membership or an annual magazine subscription</dd>
                <dt>Get up to 6.25% AER/gross fixed on a BSB Current Account</dt>
                <dd>- As a BSB customer you can take advantage of preferential rates on our saving accounts.</dd>
                <dt>Access to mortgage offers</dt>
                <dd>- you could get a 0.20% discount off the initial rate. Offer applies to first time buyers, customers
                    who are switching their mortgage to us or moving home.</dd>
                <dd>- Offers can be withdrawn at any time. Exclusions and conditions apply.</dd>
            </dl>
        </div>
    </div>
    <div class="row current-ac-eligibility">
        <div class="col-md-12">
            <h4 class="current-sm-head">Current Account Eligibility</h4>
            <p>Eligibility criteria for opening a Current Account</p>
            <ul>
                <li>Individual</li>
                <li>Sole Proprietorship Firm</li>
                <li>Partnership Firm</li>
                <li>Limited Liability Partnership Firm</li>
                <li>Hindu Undivided Family (HUF)</li>
                <li>Public or Pvt. Ltd. Companies.</li>
            </ul>
        </div>
    </div>
    <div class="row current-ac-fees-charges">
        <div class="col-md-12">
            <h4 class="current-sm-head">Fees & Charges</h4>
            <table>
                <tr class="first-row">
                    <td class="text-center">
                        <h6 class="titles">Transactions</h6>
                    </td>
                    <td class="text-center">
                        <h6 class="titles">Fees</h6>
                    </td>
                </tr>
                <tr>
                    <td class="left-content">NEFT- from branch(in Rs.)</td>
                    <td class="right-content">Up to 10,000- 2.50/- per txn <br> 10,001 to 1 lakh - 5/- per txn <br> 1
                        lakh to 2 lakhs - 15/- per txn <br> Above 2 lakhs - 25/- per txn</td>
                </tr>
                <tr>
                    <td class="left-content">NEFT/RTGS- other digital channels</td>
                    <td class="right-content">Free</td>
                </tr>
                <tr>
                    <td class="left-content">RTGS- from branch(in Rs.)</td>
                    <td class="right-content">2 Lakh to 5 Lakh - 25/- per txn <br> 5 Lakh and above- 50/- per txn</td>
                </tr>
                <tr>
                    <td class="left-content">IMPS fund transfer(in Rs.)</td>
                    <td class="right-content">Upto 1,000 - 2.50/-per txn <br> 1,000 to 1 Lakh - 5/- per txn <br> 1 Lakh
                        to 5 Lakhs - 10/- per txn</td>
                </tr>
                <tr class="last-row">
                    <td class="left-content">NEFT/RTGS/IMPS inward transactions</td>
                    <td class="right-content">Free</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}