{% extends 'base.html' %}
{% block content %}
<div class="container e-services">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">E-Services</li>
            </ol>
        </nav>
        <div class="col-md-12 text-center">
            <h1 style="margin-bottom: 2vh;color:darkslateblue">Welcome to Our E-Services</h1>
            <p style="font-weight: 500;margin-bottom: vh;">At BHARTIYA SEWA BANK, we strive to provide you with
                convenient and secure banking solutions to simplify your financial transactions. Explore our range of
                electronic services designed to meet your banking needs anytime, anywhere.</p>
            <img src="/static/img/eservices-banner.jpg" alt="" class="services-banner">
        </div>
    </div>
    <div class="row back-color">
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-globe2 online"></i>Online Banking</h3>
            <p>Manage your accounts with ease through our online banking platform. View your account balances,
                transaction history, and pending transactions. Transfer funds between your accounts or to other accounts
                within [Bank Name]. Set up bill payments, schedule recurring transfers, and more.</p>
        </div>
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-phone mobile"></i>Mobile Banking</h3>
            <p>Bank on the go with our mobile banking app. Access your accounts from your smartphone or tablet to check
                balances, transfer funds, pay bills, and deposit checks using mobile deposit. Our mobile app offers a
                seamless banking experience tailored to your device.</p>
        </div>
        <div class="col-md-4 services-container no-effect">
            <h3 class="heading"><i class="bi bi-card-checklist statement"></i>eStatements</h3>
            <p>Go paperless with eStatements. Receive your account statements electronically, accessible through online
                banking or delivered to your email inbox. Stay organized and reduce clutter while having convenient
                access to your account information anytime.</p>
        </div>
    </div>
    <div class="row back-color">
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-receipt bill"></i>Bill Payment Services</h3>
            <p>Simplify your bill payments with our online bill payment service. Pay bills to a variety of merchants and
                service providers securely and conveniently from your computer or mobile device. Set up one-time or
                recurring payments and track your payment history effortlessly.</p>
        </div>
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-credit-card-2-front payment"></i>Transfers and Payments</h3>
            <p>Transfer funds between your accounts or to accounts at other financial institutions using our secure
                transfer service. Make loan payments, send money to friends and family, or set up external transfers for
                added flexibility in managing your finances.</p>
        </div>
        <div class="col-md-4 services-container no-effect">
            <h3 class="heading"><i class="bi bi-bell notify"></i>Alerts and Notifications</h3>
            <p>Stay informed about your account activity with customizable alerts and notifications. Receive alerts for
                low balances, large transactions, deposit confirmations, and more via email or text message. Set up
                alerts tailored to your preferences to stay on top of your finances.</p>
        </div>
    </div>
    <div class="row back-color">
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-person-badge account"></i>Account Management</h3>
            <p>Update your account information and preferences conveniently online. Change your contact details, update
                your address, or manage your communication preferences with ease. Set up overdraft protection, order
                checks, or request account documents effortlessly.</p>
        </div>
        <div class="col-md-4 services-container">
            <h3 class="heading"><i class="bi bi-window-plus loan"></i>Loan Applications</h3>
            <p>Apply for loans, mortgages, or credit cards online through our secure application portal. Streamline the
                application process and track the status of your application in real-time. Our intuitive interface makes
                applying for credit easy and convenient.</p>
        </div>
        <div class="col-md-4 services-container no-effect">
            <h3 class="heading"><i class='bx bx-candles invest'></i>Investment Services</h3>
            <p>Explore our investment options and financial planning tools to help you reach your financial goals. Open
                investment accounts, access trading platforms, or seek personalized advice from our team of financial
                professionals. Plan for your future with confidence.</p>
        </div>
    </div>
    <div class="row back-color">
        <div class="col-md-4 services-container no-effect-bottom">
            <h3 class="heading"><i class="bi bi-chat-right-text support"></i>Customer Support and Chat</h3>
            <p>Get assistance with your banking inquiries through our online chat support or messaging feature. Connect
                with our customer support team for prompt assistance with any questions or issues you may encounter
                while using our e-services.</p>
        </div>
        <div class="col-md-4 services-container no-effect-bottom">
            <h3 class="heading"><i class="bi bi-shield-lock security"></i>Security Features</h3>
            <p>Learn about the security measures we have in place to protect your accounts and transactions. Discover
                tips for safeguarding your personal information and recognize signs of fraudulent activity. Report
                suspicious behavior or unauthorized transactions to our dedicated security team.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 style="color:indianred;margin-top: 5vh;">Get Started Today</h2>
            <p style="font-weight: 500;">Experience the convenience of our e-services and take control of your finances
                with BHARTIYA SEWA BANK. Sign up for online banking, download our mobile app, or explore our range of
                electronic services today.</p>
        </div>
    </div>
</div>
{% endblock %}