<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <link rel="stylesheet" href="/static/css/user/navbar.css">
    <link rel="stylesheet" href="/static/css/user/dashboard.css">
    <link rel="stylesheet" href="/static/css/user/payment.css">
    <link rel="stylesheet" href="/static/css/user/transaction.css">
    <link rel="stylesheet" href="/static/css/user/my-account.css">
    <link rel="stylesheet" href="/static/css/user/help.css">
    <link rel="stylesheet" href="/static/css/user/myProfile.css">
    <link rel="stylesheet" href="/static/css/user/editProfile.css">
    <link rel="stylesheet" href="/static/css/user/notification.css">
    <link rel="shortcut icon" href="/static/img/fav-logo2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    {% include 'user/navbar.html' %}
    {% block contents %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/javascript/user/navbar.js"></script>
    <script src="/static/javascript/user/payment.js"></script>
    <script src="/static/javascript/user/help.js"></script>
</body>
</html>