{% extends 'base.html' %}
{% block content %}
<div class="container forget-inner">
    <div class="row">
        <div class="col-md-6 mx-auto forget-pass-page text-center">
            <h2>Forget Your Password!</h2>
            <form action="forget-pass-data.php" class="p-3" method="post" onsubmit="return forgetPass();">
                <div class="mail">
                    <input type="text" name="email" placeholder="Enter Your E-Mail: " class="email">
                </div>
                <div class="phone-num">
                    <input type="text" maxlength="10" name="phone" placeholder="Enter Phone Number:" class="phone">
                </div>
                <div class="create-pass">
                    <input type="text" placeholder="Create New Password:" class="crt-password">
                </div>
                <div class="conf-pass">
                    <input type="password" name="password" placeholder="Confirm Password:" class="conf-password">
                </div>
                <div class="change-btn">
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function forgetPass() {
        let email = document.querySelector(".email");
        let phone = document.querySelector(".phone");
        let createPass = document.querySelector(".crt-password");
        let confPass = document.querySelector(".conf-password");
        let pass = true;

        if (phone.value == "") {
            pass = false;
            phone.style.borderColor = "red";
        } else if (phone.value.length != 10) {
            pass = false;
            phone.style.borderColor = "red";
        } else {
            phone.style.borderColor = "white";
        }
        if (email.value == "") {
            pass = false;
            email.style.borderColor = "red";
        } else {
            email.style.borderColor = "white";
        }
        if (createPass.value == "") {
            pass = false;
            alert("Please Enter Password and Confirm");
            createPass.style.borderColor = "red";
        } else {
            createPass.style.borderColor = "white";
        }
        if (confPass.value == "") {
            pass = false;
            confPass.style.borderColor = "red";
        } else {
            confPass.style.borderColor = "white";
        }

        if (createPass.value != confPass.value) {
            pass = false;
            alert("Password Not Matched...");
            confPass.style.borderColor = "red";
        } else {
            confPass.style.borderColor = "white";
        }

        if (pass == true) {
            success();
        }
        return pass;
    }
</script>
{% endblock %}