{% extends 'base.html' %}
{% block content %}
<div class="container-sm user-login-form">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </nav>
    </div>
    <div class="row main">
        <div class="col-md-6 user-login-module">
            <form action="" method="post">
                {% csrf_token %}
                <h2 class="text-center"
                    style="font-weight: 700;color:darksalmon;font-size: 2.5rem; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                    Login</h2>
                <div class="username" style="margin-bottom: 15px;">
                    <input type="email" name="logmail" id="user-login-email">
                    <label for="username" id="user-login-email-label">UserEmail</label>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="userpassword">
                    <input type="password" name="logpassword" id="user-login-password">
                    <label for="userpassword" id="user-login-password-label">Password</label>
                    <i class='bx bxs-lock protect'></i>
                    <i class='bx bxs-hide protect-hide' style="display: none;"></i>
                    <i class='bx bxs-show protect-show' style="display: none;"></i>
                </div>
                <div class="user-remember-forget">
                    <div class="remember-me">
                        <label for="remember"><input type="checkbox">Remember me</label>
                    </div>
                    <div><a href="/forgetPass/">Forget Password</a></div>
                </div>
                <div class="user-login-btn">
                    <button type="submit" name="loginBtn">Login</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 user-login-info-module">
            <h2 class="heading-one">Welcome</h2>
            <h3 class="heading-two">to Customer Login Portal</h3>
            <div class="all-info">
                <p class="content-info">If You don't have any account then you can't Login here</p>
                <p class="content-info">Firstly you need to Create Account for yourself to enjoy our services.</p>
                <p class="content-info"><a href="/createAc/">Click here </a>&nbsp;to Create your Account.</p>
            </div>
        </div>
    </div>
</div>
<script>
    let userEmailInp = document.querySelector("#user-login-email");
    let userEmailLabel = document.querySelector("#user-login-email-label");
    userEmailInp.addEventListener("focus", (e) => {
        userEmailLabel.style.cssText = `
                    margin-top:-25px;
                    transition:.5s;
                    font-weight:500;
                `;
    });
    userEmailInp.addEventListener("blur", (e) => {
        if (userEmailInp.value == "") {
            userEmailLabel.style.cssText = `
                    top:40px;
                    transition:.5s;
                    
                `;
        } else {
            userEmailLabel.style.cssText = `
                    margin-top:-25px;
                    transition:.5s;
                    font-weight:500;
                `;
        }
    });

    let userPassInp = document.querySelector("#user-login-password");
    let userPassLab = document.querySelector("#user-login-password-label");
    userPassInp.addEventListener("focus", (e) => {
        userPassLab.style.cssText = `
                    margin-top:-25px;
                    transition:.5s;
                    font-weight:500;
                `;
    });
    userPassInp.addEventListener("blur", (e) => {
        if (userPassInp.value == "") {
            userPassLab.style.cssText = `
                    top:40px;
                    transition:.5s;
                    
                `;
        } else {
            userPassLab.style.cssText = `
                    margin-top:-25px;
                    transition:.5s;
                    font-weight:500;
                `;
        }

    });

    // Password Visibility
    let userLock = document.querySelector(".protect");
    let showUser = document.querySelector(".protect-show");
    let hideUser = document.querySelector(".protect-hide");
    userPassInp.addEventListener("keyup", (e) => {
        if (userPassInp.value == "") {
            userLock.style.display = "block";
            hideUser.style.display = "none";
            showUser.style.display = "none";
        } else {
            userLock.style.display = "none";
            showUser.style.display = "block";
        }
    });
    showUser.addEventListener("click", (e) => {
        if (userPassInp.type === "password") {
            userPassInp.type = "text";
            showUser.style.display = "none";
            hideUser.style.display = "block";
        }
    })
    hideUser.addEventListener("click", (e) => {
        if (userPassInp.type === "text") {
            userPassInp.type = "password";
            showUser.style.display = "block";
            hideUser.style.display = "none";
        }
    })
</script>
{% endblock %}