<footer>
    <div class="container-fluid main-foot">
        <div class="row up">
            <div class="col-md-12 foot-up">
                <div class="foot-down">
                    <div class="col-md-3 col-sm-3 move"><a href="/customer/"><i class="bi bi-telephone foot-ico"></i>Contact Us</a>
                    </div>
                    <div class="col-md-3 col-sm-3 move"><a href="/customer/"><i class="bi bi-truck-front foot-ico"></i>Bank
                            Holidays</a></div>
                    <div class="col-md-3 col-sm-3 move"><a href="/terms/"><i class="bi bi-chat-square-text foot-ico"></i>FAQs</a>
                    </div>
                    <div class="col-md-3 col-sm-3 move not-bord"><a href="/createAc/"><i class="bi bi-headset foot-ico"></i>Get in
                            Touch</a></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center second-foot">
            <div class="col-md-4 col-sm-4">
                <h5 class="foot-head">About Us</h5>
                <p><a href="/about/" class="foot-list">Overview</a></p>
                <p><a href="/about/" class="foot-list">History</a></p>
                <p><a href="/about/" class="foot-list">Our Vision</a></p>
                <p><a href="/about/" class="foot-list">Our Mission</a></p>
                <p><a href="/about/" class="foot-list">Our Team</a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="foot-head">Customer Corner</h5>
                <p><a href="/customer/" class="foot-list">Find Important Customer Information</a></p>
                <p><a href="/customer/" class="foot-list">RBI Kehta Hai</a></p>
                <p><a href="/customer/" class="foot-list">Customer Care</a></p>
                <p><a href="/customer/" class="foot-list">Online Complaints/Track Status/Feedback</a></p>
                <p><a href="/customer/" class="foot-list">Holidays in India</a></p>
                <p><a href="/customer/" class="foot-list">Right to Information Act</a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="foot-head">Terms and Conditions</h5>
                <p><a href="/terms/" class="foot-list">Accessibility</a></p>
                <p><a href="/terms/" class="foot-list">Disclaimer</a></p>
                <p><a href="/terms/" class="foot-list">Privacy Policy</a></p>
                <p><a href="/terms/" class="foot-list">Contact Us</a></p>
                <p><a href="/terms/" class="foot-list">Terms of Use</a></p>
                <p><a href="/terms/" class="foot-list">FAQs</a></p>
            </div>
        </div>
        <div class="row text-center third-foot">
            <div class="col-md-12">
                <h5 class="foot-head">Connect with Us</h5>
                <div class="contain">
                    <div><a href="https://www.facebook.com/" target="_blank" class="ic-lnk"><i class="bi bi-facebook foot-face"></i></a></div>
                    <div><a href="https://twitter.com/?lang=en" target="_blank" class="ic-lnk"><i class="bi bi-twitter-x foot-x"></i></a></div>
                    <div><a href="https://www.whatsapp.com/" target="_blank" class="ic-lnk"><i class="bi bi-whatsapp foot-what"></i></a></div>
                    <div><a href="https://www.linkedin.com/in/gaurav-kumar-a09324251/" target="_blank" class="ic-lnk"><i class="bi bi-linkedin foot-link"></i></a></div>
                    <div><a href="https://www.youtube.com/" target="_blank" class="ic-lnk"><i class="bi bi-youtube foot-you"></i></a></div>
                    <div><a href="https://www.apple.com/in/app-store/" target="_blank" class="ic-lnk"><i class="bi bi-apple foot-apl"></i></a></div>
                </div>
            </div>
        </div>
        <div class="row text-center fourth-foot">
            <div class="col-md-12">
                <p class="copyright">Copyright &copy; 2024 Bhartiya Sewa Bank.</p>
                <p class="copyright">All rights reserved</p>
            </div>
        </div>
    </div>
</footer>