{% extends 'base.html' %}
{% block content %}
<div class="container saving-ac-page">
    <div class="row accounts-page-saving">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Saving Account</li>
            </ol>
        </nav>
        <div class="col-md-12 account-head">
            <img src="/static/img/account.jpg" alt="" class="account-img1">
            <h2 class="head-img">Earn FD-wala interest up to 7%* p.a. in Savings Account with ActivMoney</h2>
            <button type="button" onclick="window.location='/createAc/'" class="open">Open Account<i
                    class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="row accounts-page-saving mt-5">
        <div class="col-md-12 ">
            <h3 class="saving-lg-head">Savings Account: Open a Bank Account Online</h3>
            <div class="paras">
                <p>Bhartiya Sewa Bank provides a wide range of Savings Account variants with unique features and
                    benefits, aiming to enhance your banking experience. You can seamlessly open an account
                    digitally without any paperwork or branch visits. Alternatively, you can also visit any of our
                    branches to start your banking journey.<img src="/static/img/saving-ac.jpg" class="saving-jar-coin"
                        alt=""></p>
                <p>Whether you're saving for a dream vacation or your child's education, or building a safety net,
                    there’s a BSB Savings Account tailor-made for all your dreams and goals. It takes only 5 minutes
                    to get started with BSB Savings Account! Experience the convenience of modern banking by opening
                    a Savings Account online in just a few steps. Start today and embark on your financial journey
                    effortlessly.</p>
                <p>There are several advantages of opening an account online. Open an account digitally in just 4
                    simple steps with the seamless & easy video-KYC process which does not require any paperwork or
                    branch visits.</p>
                <h6>When you open a Savings Account you get:</h6>
                <ul>
                    <li>Fixed and safe returns as Savings Account offers nominal interest rates and your funds are
                        insured.</li>
                    <li>Easy liquidity as you can deposit and withdrow money any time you choose.</li>
                    <li>Access to credit products such as loans and credit cards and value-added services such as
                        online banking, mobile apps.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 features-benefits text-center">
            <h4 class="saving-sm-head">Features & Benefits of Savings Account</h4>
        </div>
    </div>
    <div class="card-containing text-center">
        <div class="card">
            <i class="bi bi-gift-fill"></i>
            <h6>Cashbacks</h6>
            <p>Enjoy cashbacks, gift vouchers, discounts, complimentary movie tickets, airport lounge access, and
                more...</p>
        </div>
        <div class="card">
            <i class="bi bi-credit-card-2-front debit-card"></i>
            <h6>Virtual Debit Card</h6>
            <p>Instant Virtual Debit Card offering exclusive rewards, discounts, and more with Digital Savings Accounts
            </p>
        </div>
        <div class="card">
            <i class="bi bi-menu-button-wide atm-machine"></i>
            <h6>BSB ATMs</h6>
            <p>Access to 10,000+ BSB ATMs, 3,300+ BSB branches</p>
        </div>
        <div class="card">
            <i class="bi bi-stopwatch clock"></i>
            <h6>Open Account Easily</h6>
            <p></p>
        </div>
        <div class="card">
            <i class="bi bi-gear bank-service"></i>
            <h6>Banking Services</h6>
            <p>300+ Banking Services available on India's top-rated mobile banking app 'open'</p>
        </div>
        <div class="card">
            <i class="bi bi-percent interest"></i>
            <h6>FD Interest</h6>
            <p>Earn FD-like interest up to 7%<sup style="color:red">*</sup> p.a. in your Savings Account!</p>
        </div>
    </div>
    <div class="row eligibility">
        <div class="col-md-12">
            <h4 class="saving-sm-head">Eligibility & Documentations</h4>
            <p>Eligibility for a Savings Account can differ based on the chosen variant, user type (individual or
                joint), and the method of account opening (Physical or Digital Savings Account). Please review the
                eligibility criteria for your selected Saving Account variant, as certain features may be subject to
                change.</p>
            <h6>Documents Required:</h6>
            <ul>
                <li>KYC documents(proof of identification, address and nationality)</li>
                <li>A duly filled account opening form</li>
                <li>Customer Photo.</li>
            </ul>
            <p>Please refer to the documentation section of your chosen Savings Account variant, as certain features may
                be subject to change.</p>
        </div>
    </div>
    <div class="row rewards">
        <div class="col-md-12">
            <h4 class="saving-sm-head">Rewards associated with Bhartiya Sewa Saving Account</h4>
            <p>Our range of Savings Account options offers complementary services such as:</p>
            <ul>
                <li> a high transaction limit,</li>
                <li> free cheque books,</li>
                <li> Video KYC,</li>
                <li> and More...</li>
            </ul>
            <p>But that's not all! You can enjoy an array of lifestyle benefits, from amazing cashbacks and discounts on
                online spending to gift vouchers, BSB Edge rewards, and various other privileges.</p>
        </div>
    </div>
    <div class="row fees-charges">
        <div class="col-md-12">
            <h4 class="saving-sm-head">Fees & Charges</h4>
            <table>
                <tr class="first-row">
                    <td class="text-center">
                        <h6 class="titles">Transactions</h6>
                    </td>
                    <td class="text-center">
                        <h6 class="titles">Fees</h6>
                    </td>
                </tr>
                <tr>
                    <td class="left-content">Daily withdrawal limit and Shopping limit</td>
                    <td class="right-content">Daily ATM Withdrawal Limit of Rs.50,000, Daily POS transaction Limit of
                        Rs.2,00,000.</td>
                </tr>
                <tr>
                    <td class="left-content">Monthly Cash Transaction Free Limits</td>
                    <td class="right-content">First 4 Transactions or INR.25,000. Cash transactions at Non-Home
                        branch-upto INR.25,000/- per day, exceeding which INR. 5/- per thousand or part thereof, subject
                        to a minimum of INR.150/- to be charged.</td>
                </tr>
                <tr>
                    <td class="left-content">Fees on Cash Deposits and Withdrawal above limits</td>
                    <td class="right-content">Self- INR.5 per 1,000 or INR.150, whichever is higher, Third Party- INR.10
                        per 1000 or INR.150, whichever is higher</td>
                </tr>
                <tr>
                    <td class="left-content">Transaction Charges on Cash Deposit <br>Transaction done at Cash Deposit
                        Machine</td>
                    <td class="right-content">INR. 50 per transaction after banking hours (i.e. Between 5:00 pm to 9:30
                        am) and on Bank/State Holidays for deposits exceeding 2 transactions or INR. 5,000 per
                        month(either single or multiple transaction), whichever is earlier.</td>
                </tr>
                <tr>
                    <td class="left-content">Fair usage feex on branch transactions</td>
                    <td class="right-content">15 transactions free per month post which charge of Rs.75/transaction will
                        be levied. This is over and above the existing fee structure. Transactions include Cash
                        transactions at branch, Outward clearing, Fund transfer, RTGS/NEFT & remittances</td>
                </tr>
                <tr>
                    <td class="left-content">Ourstation Cheque Collection Fees:</td>
                    <td class="right-content">Upto Rs.5,000;Rs.25 per cheque, Rs.5,001- Rs.10,000:Rs.50 per cheque,
                        Rs.10,001- Rs.1Lakh:Rs.100 per cheque, Above Rs.1 Lakh:Rs.150 per cheque</td>
                </tr>
                <tr>
                    <td class="left-content">RTGS Fees(Branch)</td>
                    <td class="right-content">RTGS value of 2 to 5 lakhs charges of INR 20 <br>RTGS Value>5 lakhs
                        charges of INR 45</td>
                </tr>
                <tr>
                    <td class="left-content">RTGS Fees(Online)</td>
                    <td class="right-content">NIL</td>
                </tr>
                <tr>
                    <td class="left-content">NEFT Transaction Limits(how many free per quarter)</td>
                    <td class="right-content">Unlimited</td>
                </tr>
                <tr>
                    <td class="left-content">NEFT Fees(Branch)</td>
                    <td class="right-content">NEFT value Upto 10,000 charges of INR 2 <br>
                        NEFT value 10,001 to 1,00,000 charges of INR 4 <br>
                        NEFT value of 1,00,001 to 2,00,000 charges of INR 14 <br>
                        NEFT value > 2,00,000 charges of INR 24</td>
                </tr>
                <tr>
                    <td class="left-content">NEFT Online</td>
                    <td class="right-content">NIL</td>
                </tr>
                <tr>
                    <td class="left-content">IMPS Fees</td>
                    <td class="right-content">Upto Rs. 1000 - Rs. 2.5* per transaction, Rs. 1000 to Rs. 1 Lakh - Rs. 5*
                        per transaction, Rs. 1 Lakh to Rs. 5 Lakh - Rs. 10* per transaction, *Taxes extra</td>
                </tr>
                <tr>
                    <td class="left-content">Speed Clearing Fees</td>
                    <td class="right-content">Free upto cheque amount of Rs.1 lakh, Above Rs.1 lakh - Rs.150</td>
                </tr>
                <tr>
                    <td class="left-content">International Cash Withdrawal fees (ATM)</td>
                    <td class="right-content">Rs.125</td>
                </tr>
                <tr>
                    <td class="left-content">International Balance Enquiry fees (ATM)</td>
                    <td class="right-content">Rs.25</td>
                </tr>
                <tr class="last-row">
                    <td class="left-content">Surcharge on Railway Tickets purchased with Debit Card</td>
                    <td class="right-content">NA</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}