{% extends 'adminBnk/baseAdmin.html' %}
{% block admin %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="" method="post" id="add-form">
                <h3 style="margin-bottom:5vh;">Delete Student Record</h3>
                <input type="text" name="roll" placeholder="Roll No.">
                <button type="submit" name="delete_btn" class="delete-btn">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}