{% extends 'adminBnk/baseAdmin.html' %}
{% block admin %}
<div class="container">
    <div class="row" style="margin-top:5vh;">
        <div class="col-md-12 text-center">
            <h2>Customer Information</h2>
        </div>
    </div>
    <div class="row" style="margin-top:2vh;">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Account No.</th>
                        <th>Balance</th>
                        <th>Opening Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td><button type="button"
                                onclick="window.location=''"
                                class="edit">Update</button>
                            <button type="button"
                                onclick="window.location=''"
                                class="delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}